<!DOCTYPE html>
<html lang="en">
<head>
    
    {{>header}}
    <style>
        #login{
            display: none;
        }
        #signup{
            display: none;
        }
    </style>
</head>
<body>
    {{>navbar}}

   {{>content}}


<br>
<br><br>
{{>footer}}
</body>
</html>