<!DOCTYPE html>
<html>
<head>
{{>header}}
<script src="js/registervalidation.js"></script>
 <style>
        #logout{
            display: none;
        }
        #logoutall{
            display: none;
        }
       
    </style>
</head>
<body>
{{>navbar}}
<div class="container">

<h2>Sign Up</h2>

<form action="/register" method="POST" onsubmit="return validateForm()">
  <div class="imgcontainer">
    <img src="images/profile-user.png" alt="Avatar" class="avatar">
  </div>

  <div class="container" >
    <label for="fname"><b>First Name</b></label>
    <input type="text" placeholder="Enter First Name" name="fname" id="fname1" required  >
    <span id = "blankMsg" style="color:red"> </span> <br><br> 

    <label for="lname"><b>Last Name</b></label>
    <input type="text" placeholder="Enter Last Name" name="lname" id="lname1" required>
    <span id = "charMsg" style="color:red"> </span> <br><br> 

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email1" required>
      <span id = "emailMsg" style="color:red"> </span> <br><br>  


    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id ="psw1" required>
    <span id = "message1" style="color:red"> </span> <br><br>  


    <label for="cpsw"><b>Confirm Password</b></label>
    <input type="password" placeholder="Enter Password" name="cpsw" id="cpsw1" required> 
    <span id = "message2" style="color:red"> </span> <br><br>  
 

    <button class="btn btn-primary btn-lg" type="submit">Register</button>
   
  </div>

  
   
  </div>
</form>
</div>
<br>
<br><br>
{{>footer}}

</body>
</html>
