<!DOCTYPE html>
<html lang="en">
<head>
    
    {{>header}}
</head>
<body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Welcome</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      
     
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> {{Login}}</a></li>
    </ul>
  </div>
</nav>

  
 <div class="container">
   
    
    <div class="jumbotron">
  <h1 class="display-4">Weather App</h1>
  <p class="lead">{{LocationCountry}}</p>
  <p class="lead" id="date"></p>
     <p class="lead">{{temp}} </p>          
      
                  
               

  
  <hr class="my-4">
   <form action="/weather" method="POST" style="margin-right: auto;margin-left: auto; border :teal;" >
              <div class="form-group">
                <label for="fname">Enter City:</label>
                <input type="text" class="form-control" id="cityName" name="fname" value="">
              
              </div>
              
              <input type="submit" value="Search" id="submitBtn">
            </form>
  
</div>

</div>


<script></script>
<script src="js/date.js"></script>
</body>
</html>