<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>header}}
</head>
<body>
    {{>navbar}}

  
 <div class="container">
   
    
    <div class="jumbotron">
  <h1 class="display-4">Weather App</h1>
  <p class="lead">{{LocationCountry}}</p>
  <p class="lead" id="date"></p>
     <p class="lead">{{temp}} </p>          
      
                  
               

  
  <hr class="my-4">
   <form action="/weather" method="POST" style="margin-right: auto;margin-left: auto; border :teal;" >
              <div class="form-group">
                <label for="fname">Enter City:</label>
                <input type="text" class="form-control" id="cityName" name="fname" value="">
              
              </div>
              
              <input type="submit" value="Search" id="submitBtn">
            </form>
  
</div>

</div>


<script></script>
<script src="js/date.js"></script>
</body>
</html>