<!DOCTYPE html>
<html lang="en">
<head>
    
    {{>header}}
     <style>
        #login{
            display: none;
        }
        #signup{
            display: none;
        }
    </style>
</head>
<body>
 {{>navbar}}
  
 <div class="container">
   
    
    <div class="jumbotron"  style="position: relative;background-color:#add8e6">
  <h1 class="display-4">Weather App<img class="weathericon"  src={{image}} ></h1><br>
   
  <p class="lead">{{LocationCountry}}</p>
  <p class="lead" id="date"></p>
     <p class="lead">{{temp}} </p>          
      
                  
               

  
  <hr style="height:2px;border-width:0;color:gray;background-color:gray">
   <form id="myform"action="/weather" method="POST" style="margin-right: auto;margin-left: auto; border :teal;" >
              <div class="form-group">
                <label for="fname">Enter City:</label>
                <input type="text" class="form-control" id="cityName" name="fname" value="">
              
              </div>
             
              <input type="submit" value="Search" id="submitBtn" >
            </form>
  
</div>

</div>
<br>
<br><br>
{{>footer}}

<script src="js/date.js"></script>
{{!-- <script>
      (function(){
        
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position){
                
                  $.get( `https://api.opencagedata.com/geocode/v1/json?q=${position.coords.latitude}+${position.coords.longitude}&key=202bbfd5e6eb492c9c883a9e8652fd07`, function(data) {
                  
                  const city=data.results[0].components.county;
                 
                 var c = document.getElementById("cityName");
                 c.attributes[4].nodeValue=city;
                  
                  })
                 
                });
                
            }
           
           
          })();

      

  </script> --}}
</body>
</html>